# --- Font ---
#font-family = JetBrainsMono Nerd Font Mono
font-family = Monaco
font-size = 13

# --- Theme ---
theme = Kitty Default

# --- Window ---
window-padding-x = 4
window-padding-y = 4
window-decoration = true
background-opacity = 0.95
window-width = 160
window-height = 60

# --- Cursor ---
cursor-style = block
cursor-style-blink = false

# --- Shell integration ---
shell-integration = zsh

# --- Clipboard ---
clipboard-read = allow
clipboard-write = allow
copy-on-select = clipboard

# --- Mouse ---
mouse-hide-while-typing = true
